// Цветовые переменные:

$main-light-color: #ffffff;
$main-dark-color: #242427;
$add-color:#d7d7d7;
$ref-color: #636363;
$accent-color: #00bcd4;
$add-accent-color: #ff1743;
$accent-box-color: #2a2a2c;
$add-accent-color: #2b2b2d;
$prise-text-color: #ffc600;
$contrast-price-color: #5cc497;
$bg-block-color: #2a292c;
$on-cource-box-color: #f5f5f5;
$chekbox-border-color: #231e1f;
$warranty-h4-text-color: #2f2f31;
$warranty-h3-text-color: #2c2c31;
$warranty-bg-color: #313133;
$decor-box-color: #3c3c3c;
$back-div-color: #f8f8f8;
$list-color: #eeeeee;
$list-border-color: #c4c4c4;
$quote-accent-color: #343437;
$delimiter-accent-color: #2c2c2f;
$header-add-background-color: #232323;
$dark-text-color: #000000;
$section-bg-grey: #f3f3f3;
$add-text-dark-color: #121212;
$modal-background: rgba(36, 36, 39, 0.839);
$header-background-color: #2b2a2f;
$add-text-color: #c7c7c7;
$section-bg-dark: #2a2a2f;
$faq-box-color: #ededed;
$warranty-text-color: #d6d5d5;
$tech-skills-bg: #f0f0f0;
$teachers-accent-color: #29292b;
$teachers-border-color: #dfdfdf;
$diagram-bg-color: #222225;
$day-bg-color: #cecece;
$numeral-bg-color: #fbfbfb;

// Тени:

$button-shadow: 0px 12px 20px 0px rgba(28, 28, 30, 0.21);
$button-text-shadow: 0px 1px 1px rgba(28, 28, 30, 0.32);
$shadow-box-color: rgba(0, 0, 0, 0.161);
$back-div-shadow: -14.326px 46.859px 58px 0px rgba(0, 0, 0, 0.15);
$decor-box-shadow: 0px 20px 36px 0px rgba(0, 0, 0, 0.3);
$section-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
$accent-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14);

// Шрифтовые переменные:

$main-font: 'Open Sans', sans-serif;
$main-title-font: 'Museo Sans Cyrl', sans-serif;
$secondary-font: 'Ubuntu Mono', sans-serif;
$tertiary-font: 'ProximaNova', sans-serif;