html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.menu container {
  min-height: 100px;
}

.logo {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #95e1d3;
}

.menu {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 88px;
}

.menu-list {
  width: 490px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.menu-item {
  list-style-type: none;
  padding-top: 34px;
  margin: 0;
}

.menu-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #95e1d3;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 6px;
  text-transform: uppercase;
}
.menu-link:after {
  background-color: #f38181;
  display: block;
  content: '';
  height: 2px;
  width: 0%;
  transition: width 0.2s linear;
}

.menu-link:hover,
.menu-link:focus {
  color: #f38181;
}

.menu-link:hover:after,
.menu-link:focus:after {
  width: 100%;
}

/* SECTION SERVICE */

.presentation {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-bottom: 12px;
}

.exhibition {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

}

.exhibition::after {
  display: block;
  width: 60px;
  height: 2px;
  content: '';
  background-color: #f38181;
  margin-top: 38px;
  margin-bottom: 50px;
  margin-left: 570px;
}
.service-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.service-item {
  width: 380px;
  margin: 0;
  padding: 0;
  padding-left: 86px;
  position: relative;
  margin-bottom: 62px;
}

.service-item::before {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 30px;
  top: 15px;
  content: '';
}

.item-clock::before {
  background-image: url('../img/icon1.png');
}

.item-line::before {
  background-image: url('../img/icon2.png');
}

.item-computer::before {
  background-image: url('../img/icon3.png');
}

.item-book::before {
  background-image: url('../img/icon4.png');
}

.item-home::before {
  background-image: url('../img/icon5.png');
}

.item-digital::before {
  background-image: url('../img/icon6.png');
}

.service-item-head {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}

.service-item-text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

/* SECTION TEAM */
.description {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  text-align: center;
}

.team-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.team-item {
  position: relative;
}

.name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.team-position {
  font-family: 'Roboto', sans-serif;
  font-weight: 300i;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.overlay {
  width: 380px;
  height: 470px;
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  position: absolute;
  top: -10px;
  left: -10px;
  opacity: 0;
  box-shadow: 10px 10px 0 rgb(149, 225, 211);
  transition: opacity .2s linear;
}

.team-item:hover .overlay,
.team-item:focus .overlay {
  opacity: 1;
}

.overlay-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-item {
  margin-right: 1px;
}

.overlay-item:last-child {
  margin-right: 0;
}

.overlay-item a {
  display: block;
  width: 56px;
  height: 56px;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fce38a;
  transition: background-color .2s linear;
}

.overlay-item a:hover,
.overlay-item a:focus {
  background-color: #95e1d3;
  cursor: pointer;
}

.icon-facebook {
  background-image: url('../img/facebook.png');
}

.icon-twitter {
  background-image: url('../img/twitter.png');
}

.icon-pinterest {
  background-image: url('../img/pinterest.png');
}

.icon-instagram {
  background-image: url('../img/instagram.png');
}

/* FOOTER */

.page-footer {
  display: flex;
  justify-content: space-between;
  min-height: 65px;
  align-items: center;
  border-top: 1px solid #e5e5e5;
}

.footer-content {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.footer-text {
  color: #f38181;
}

.email {
  font-family: 'Roboto', sans-serif;
  font-weight: 300i;
  color: #999999;
  font-size: 15px;
  line-height: 38px;
  width: 230px;
  border: 1px solid #e5e5e5;
}

.subscribe {
  border: 1px solid transparent;
  background-color: #95e1d3;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  padding: 12px 32px;

}
