font-family: 'Montserrat', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto', sans-serif;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.logo {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #95e1d3;
}

.menu-item {
 list-style-type: none;
}

.menu-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #95e1d3;
  font-size: 14px;
}

.menu-link:hover,
.menu-link:focus {
  color: #f38181;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 auto;
}
/* SECTION SERVICE */

.presentation {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #333333;
  text-align: center;
}

.exhibition {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #333333;
  text-align: center;
}

.service-list {
  list-style-type: none;
}

.service-item-head {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.service-item-text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}


/* SECTION TEAM */
.description{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  text-align: center;
}

.team-list {
  list-style-type: none;
}

.name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  text-align: center;
}

.team-position {
  font-family: 'Roboto', sans-serif;
  font-weight: 300i;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

/* FOOTER */
.footer-content {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.footer-text {
  color: #f38181;
}

.email {
  font-family: 'Roboto', sans-serif;
  font-weight: 300i;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
}

.subscribe {
  border: 1px solid transparent;
  background-color: #95e1d3;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 43px;
}