@font-face {
  font-family: 'WisdomScript';
  font-weight: normal;
  font-style: normal;
  src: local('WisdomScript'), url('../fonts/WisdomScript.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v12-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v7-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'DroidSerif-Italic';
  src: url('../fonts/DroidSerif-Italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* HEADER */

.logo {
  text-decoration: none;
  color: #fed136;
  font-size: 26px;
  line-height: 50px;
  font-family: 'WisdomScript', sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
  padding: 40px 0;
}

.menu-list {
  width: 485px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.menu-item {
  list-style-type: none;
  margin: 0;
}

.menu-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #222222;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;
}

.menu-link:hover {
  color: #fed136;
}

/* SECTION SERVICES */

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.services-head {
  color: #222222;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

p[class*='description'] {
  color: #777777;
  font-family: 'DroidSerif-Italic', sans-serif;
  font-style: italic;
  font-size: 16px;
  text-align: center;
}

.services-description {
  margin: 0;
  padding: 0;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.service-item {
  width: 290px;
  padding: 80px 0;
}

.service-item-head {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.service-item-text {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}

.service-item::before {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  border: 2px solid #fed136;
  border-radius: 50px;
}

.item-basket::before {
  background-image: url('../img/basket.png');
}

.item-laptop::before {
  background-image: url('../img/laptop.png');
}

.item-locked::before {
  background-image: url('../img/locked.png');
}

.services {
  margin-bottom: 30px;
}

/* SECTION FORM */

.contact {
  background-color: #222222;
}

.map {
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
  background-position: right;
}

.contact-form-head {
  color: #ffffff;
  margin: 0;
  padding: 100px;
  padding-bottom: 5px;
}

.contact-form-description {
  margin-bottom: 75px;
}

.contact-form {
  min-height: 307px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 214px;
}

.contact-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.name,
.email,
.subject,
.comments {
  width: 455px;
  border-radius: 5px;
}

.name,
.email,
.subject {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.comments {
  padding: 12px 300px 150px 12px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.comments {
  resize: none;
}

.button {
  border: none;
  background-color: #fed136;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  cursor: pointer;
  color: #ffffff;
  padding: 25px 45px;
  width: 240px;
  margin: 28px auto 115px;
}

.button:hover {
  cursor: pointer;
}
