html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
/*HEADER*/

.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  float: left;
  padding: 33px 0;
}
.logo:first-letter {
  color: #1abc9c;
}

.menu-list {
  float: right;
  padding: 7px 0;
}
.menu-item {
  display: inline-block;
}

.menu-link {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  color: #0f0101;
  padding: 17px;
}

.menu-link:hover,
.menu-link:focus {
  color: #1abc9c;
}

.header {
  margin-bottom: 70px;
}

/*SLIDER*/
.slider {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

}

.first-slogan {
  font-family: 'Roboto', sans-serif;
  font-weight: 900px;
  font-size: 60px;
  line-height: 82px;
  color: #ffffff;
}

.second-slogan {
  font-family: 'Roboto', sans-serif;
  font-weight: 300px;
  font-size: 24px;
  line-height: 54px;
  color: #ffffff;

}

/*NEW COLLECTION*/
.new-collection {
  background-color: #e9f0fd;
}

.new-collection-head {
  font-family: 'Roboto', sans-serif;
  font-weight: 900px;
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  color: #515151;
}

.new-collection-head::after {
  display: block;
  width: 164px;
  height: 7px;
  content: '';
  background-color: #1abc9c;
  margin: 30px auto  95px;
}

.collection-item {
  list-style-type: none;
}

/*FOOTER*/
.footer {
  background-color: #323232;
}

.footer-content {
 font-family: font-family: 'Open Sans', sans-serif;
 color: #fefefe;
 font-size: 16px;
 line-height: 28px;
 margin: 0 auto;
 text-align: center;
 padding: 6px;

}

.designed {
  color: #46bfa9;
}