body {
  font-family: 'Playfair Display', serif;
}

ul {
  list-style: none;
  text-align: center;
}
li {
  text-transform: uppercase;
  display: inline-block;
}
a {
  text-decoration: none;
}
a:hover{
  color: blueviolet;
}