.way {
  margin-bottom: 65px;
  @media (min-width: 1920px) {
    margin-bottom: 105px;
  }
}

.way__title {
  position: relative;
  margin: 0 auto;
  padding-top: 52px;
  margin-bottom: 30px;
  @extend%section__title;
  line-height: 1.15;
  letter-spacing: 0.022em;
  color: $main-dark-color;
  @media (min-width: 768px) {
    padding-top: 0;
    margin-top: -59px;
    padding-right: 220px;
    margin-bottom: 126px;
    text-align: left;
    letter-spacing: 1.4px;
  }

  @media (min-width: 1920px) {
    padding-left: 505px;
    padding-right: 50px;
    margin-bottom: 64px;
    margin-top: -115px;
    letter-spacing: 0.07em;
  }
}

.way__content {
  position: relative;
}

.way__picture {
  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.19);
  }
}

.way__overlay {
  @media (min-width: 768px) {
    position: absolute;
    top: -135px;
    left: -10px;
    width: 699px;
    height: 370px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../img/way_bg_m.png');
  }

  @media (min-width: 1920px) {
    position: absolute;
    top: -315px;
    left: 325px;
    width: 1216px;
    height: 644px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../img/way_bg_l.png');

    &::before {
      @include pseudo-position;
      background-image: url('../../img/way_before.png');
      left: -650px;
      top: 475px;
      width: 156px;
      height: 313px;
    }
  }
}

.way__list {
  @extend %list;
  padding-top: 50px;
  @media (min-width: 768px) {
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 645px;

    &::before {
      @include pseudo-position;
      left: 47px;
      top: 15px;
      width: 1px;
      height: 580px;
      background-color: $add-color;
    }

    &::after {
      @include pseudo-position;
      left: 211px;
      top: 555px;
      width: 50px;
      height: 1px;
      background-color: $dark-text-color;
    }
  }
  @media (min-width: 1920px) {
    padding-top: 0;
    height: 630px;

    &::before {
      left: 110px;
      top: -290px;
      width: 1px;
      height: 850px;
    }

    &::after {
      left: 310px;
      top: 540px;
      width: 180px;
      height: 1px;
    }
  }
}

.way__item {
  position: relative;
  counter-increment: way-number;
  padding-left: 89px;
  margin-bottom: 20px;
  @include font-mix($main-font, 14px, 600);
  line-height: 1.7;
  @media (min-width: 768px) {
    width: 328px;
    padding-left: 120px;
    margin-bottom: 50px;
    line-height: 1.8;
  }
  @media (min-width: 1920px) {
    padding-left: 180px;
    padding-right: 50px;
    margin-bottom: 50px;
    width: 503px;
    line-height: 1.4;
    font-size: 18px;
  }
}

.way__item:nth-child(2) span {
  font-weight: 800;
  @media (min-width: 1920px) {
    border-bottom: 2px solid $accent-color;
  }
}

.way__item:nth-child(4) {
  padding-right: 40px;
  @media (min-width: 1920px) {
    padding-right: 110px;
  }
}

.way__item:nth-child(5) {
  padding-right: 40px;
  margin-bottom: 55px;
  @media (min-width: 768px) {
    padding-right: 90px;
  }
  @media (min-width: 1920px) {
    padding-right: 160px;
  }
}

.way__item:nth-child(6) {
  padding-left: 95px;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 12px;
  @media (min-width: 768px) {
    padding-right: 0;
    padding-left: 105px;
    width: 430px;
    margin-left: -70px;
    font-size: 13px;
    line-height: 1.8;
    transform: translateY(-22px);
  }
  @media (min-width: 1920px) {
    width: 665px;
    padding-left: 150px;
    transform: translateY(-10px);
    font-size: 18px;
    line-height: 1.5;
  }
}

.way__accent {
  background-color: $accent-color;
}

.way__garant {
  @media (min-width: 768px) {
    background-color: $accent-color;
  }
}

.way__item::before {
  position: absolute;
  left: 5px;
  content: counter(way-number, decimal-leading-zero);
  display: inline-block;
  width: 73px;
  height: 73px;
  font-family: $secondary-font, monospace;
  font-size: 24px;
  color: $main-dark-color;
  text-align: center;
  vertical-align: middle;
  line-height: 3;
  background-color: $numeral-bg-color;
  border-radius: 50%;
  @media (min-width: 768px) {
    width: 85px;
    height: 85px;
    font-size: 40px;
    line-height: 1.8;
  }
  @media (min-width: 1920px) {
    left: 65px;
  }
}

.way__item:last-child::before {
  line-height: 2;
  font-size: 40px;
  color: $main-light-color;
  background-color: $main-dark-color;
  box-shadow: -3px -2px 1px $accent-color;
  @media (min-width: 768px) {
    transform: translateY(-16px);
  }
  @media (min-width: 1920px) {
    left: 35px;
  }
}

.way__item:nth-child(1)::before {
  box-shadow: -2px 1px 1px $accent-color;
}

.way__item:nth-child(2)::before {
  box-shadow: -3px -2px 1px $accent-color;
}

.way__item:nth-child(3)::before {
  top: 8px;
  box-shadow: 4px -2px 1px $accent-color;
  @media (min-width: 768px) {
    top: 1px;
  }
}

.way__item:nth-child(4)::before {
  box-shadow: 4px 2px 1px $accent-color;
}

.way__item:nth-child(5)::before {
  box-shadow: -4px 2px 1px $accent-color;
}
