body {
  font-family: 'Playfair Display', serif;
  color: #5e5e5e;
}

.content-box {
  box-sizing: border-box;
  width: 470px;
  height: 550px;
  padding: 30px 20px;
  border: 1px solid grey;
}
.description {
  text-transform: uppercase;
}
h2 {
  font-size: 24px;
}