html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*BANNER-HEADER*/

.banner {
  background: url('../img/banners.png') no-repeat center center;
  background-color: #1a1915;
  text-align: center;
  min-height: 540px;
  color: #fff;
  margin-bottom: 66px;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  display: block;
  text-transform: uppercase;
}

.logo:hover {
  text-decoration: none;
  color: #fff;
}

.form {
  padding-top: 25px;
  margin-bottom: 23px;
}

.form-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 120px;
}

.form-item a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 9px 15px;
  border: 2px solid transparent;
  border-radius: 20px;
}

.form-item a:hover {
  border: 2px solid #fff;
  transition-duration: 0.2s;
}

.header-slogan {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  line-height: 37px;
}

.slogan {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding: 0 100px;
  margin-bottom: 10px;
}

.banner-button {
  background-color: #ff4e50;
  border: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  padding: 9px 45px;
}

.banner-button:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.42);
}

/* MAIN */
.cards {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  text-align: center;
}

.cards-header {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 14px;
  padding: 0 57px;
  line-height: 26px;
}

.cards-item {
  position: relative;
  margin-bottom: 18px;
}

.cards-item img {
  margin: 0 auto 18px;
}

.cards-item-hunter::after,
.cards-item-walker::after,
.cards-item-lucas::after,
.cards-item-bradly::after {
  display: block;
  content: '';
  width: 34px;
  height: 34px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 35%;
  top: 90px;
}

.cards-item-hunter::after {
  background: url('../img/icon1.png') no-repeat 45% 35%;
  background-color: #ff4e50;
}

.cards-item-lucas::after {
  background: url('../img/icon2.png') no-repeat 45% 40%;
  background-color: #ffa507;
}

.cards-item-walker::after {
  background: url('../img/icon3.png') no-repeat 40% 35%;
  background-color: #1cd7ad;
}

.cards-item-bradly::after {
  background: url('../img/icon4.png') no-repeat 40% 50%;
  background-color: #4e73db;
}

.card-name {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.card-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #666;
  padding: 0 60px;
  line-height: 19px;
  margin-bottom: 25px;
}

.cards-button {
  background-color: #fff;
  border: 2px solid #ff4e50;
  color: #ff4e50;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-radius: 20px;
  padding: 8px 69px;
  cursor: pointer;
}

.cards-button:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.42);
}

@media (min-width: 768px) {
  .banner {
    background: url('../img/bannerm.png') no-repeat center center;
    background-color: #1a1915;
    height: 700px;
  }

  .logo {
    padding-top: 5px;
  }

  .form {
    padding-top: 40px;
    margin-bottom: 30px;
  }

  .header-slogan {
    font-size: 52px;
    padding: 0 40px;
    margin-bottom: 24px;
    line-height: 1.2;
  }

  .slogan {
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 32px;
  }

  .banner-button {
    padding: 9px 20px;
  }

  .cards-header {
    margin-bottom: 35px;
    padding: 0;
  }

  .card-description {
    padding: 0 10px;
  }

  .cards-list .row > [class*='col-'] {
    margin-bottom: 29px;
  }

  .cards-list .row > [class*='col-']:last-child,
  .cards-list .row > [class*='order-md-3'] {
    margin-bottom: 0;
  }

  .cards-list {
    margin-bottom: 25px;
  }

  .cards-item-hunter::after,
  .cards-item-walker::after,
  .cards-item-lucas::after,
  .cards-item-bradly::after {
    right: 32%;
  }

  .cards-button {
    padding: 9px 24px;
  }
}

@media (min-width: 1440px) {
  .banner {
    background: url('../img/bannerl.png') no-repeat center center;
    background-size: cover;
    background-color: #1a1915;
  }

  .form {
    margin-bottom: 30px;
  }

  .header-slogan {
    padding: 0 160px;
  }

  .cards-item {
    margin: 0;
  }

  .cards-item:nth-child(even) {
    margin-bottom: 0;
  }

  .card-description {
    padding: 0;
  }

  .cards-list {
    margin-bottom: 15px;
  }

  .cards-item-hunter::after,
  .cards-item-walker::after,
  .cards-item-lucas::after,
  .cards-item-bradly::after {
    right: 25%;
  }

  .cards-button {
    padding: 7px 24px;
  }
}

