.suit {
  background-color: $delimiter-accent-color;
  @media (min-width: 768px) {
    background: linear-gradient(
      to right,
      $section-bg-grey 0%,
      $section-bg-grey 50%,
      $header-background-color 50%,
      $header-background-color 100%
    );
  }
}

.suit--black {
  background-color: $main-light-color;
}

.suit__title {
  position: relative;
  margin: 0 auto 35px;
  padding-top: 35px;
  padding-bottom: 43px;
  letter-spacing: 0.02em;
  @extend%section__title;
  color: $main-dark-color;
  background-color: $main-light-color;

  @media (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 50px;
    margin-bottom: 44px;
    letter-spacing: 0.065em;
  }

  @media (min-width: 1920px) {
    letter-spacing: 0.03em;
    margin-bottom: 84px;
    padding-top: 27px;
    padding-bottom: 110px;
  }
}

.suit__content {
  position: relative;
  @extend%list;

  @media (min-width: 768px) {
    margin: 0 auto;
    margin-bottom: 38px;
    padding: 0;
    display: flex;
    justify-content: center;

    &::before {
      @include pseudo-position;
      z-index: 0;
      background-image: url('../../img/suit_g_m.png');
      left: -40px;
      top: -60px;
      width: 334px;
      height: 365px;
    }

    &::after {
      @include pseudo-position;
      z-index: 0;
      background-image: url('../../img/suit_x_m.png');
      right: -40px;
      bottom: -77px;
      width: 267px;
      height: 361px;
    }
  }

  @media (min-width: 1920px) {
    margin-bottom: 60px;

    &::before {
      background-image: url('../../img/suit_g_l.png');
      left: -150px;
      top: -153px;
      width: 537px;
      height: 514px;
    }

    &::after {
      background-image: url('../../img/suit_x_l.png');
      right: -260px;
      bottom: -47px;
      width: 534px;
      height: 632px;
    }
  }
}

.suit__descr {
  position: relative;
  line-height: 1.667;
  padding-right: 30px;
  @media (min-width: 768px) {
    margin: 0;
    width: 345px;
    padding-right: 35px;
    padding-left: 20px;
    z-index: 1;
  }

  @media (min-width: 1920px) {
    width: 573px;
  }
}

.suit__descr--pros {
  padding-top: 28px;
  padding-left: 14px;
  padding-bottom: 25px;
  margin-bottom: 15px;
  background-color: $main-light-color;
  @media (min-width: 768px) {
    padding: 70px 42px 50px 25px;
  }

  @media (min-width: 1920px) {
    padding: 122px 85px 48px 68px;
  }
}

.suit__descr--cons {
  padding-top: 71px;
  padding-left: 12px;
  padding-bottom: 23px;
  margin-bottom: 34px;
  background-color: $section-bg-grey;
  @media (min-width: 768px) {
    padding: 72px 42px 35px 28px;
  }
  @media (min-width: 1920px) {
    padding: 122px 30px 60px 65px;
  }
}

.suit__list {
  @extend%list;
}

.suit__sub {
  padding-left: 8px;
  margin: 0;
  text-align: left;
  @include font-mix($secondary-font, 24px, 900);
  color: $main-dark-color;
  margin-bottom: 24px;
  @media (min-width: 768px) {
    margin-bottom: 38px;
    line-height: 1.667;
  }

  @media (min-width: 1920px) {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.suit__sub span {
  padding: 3px;
  color: $accent-color;
  line-height: 2;
  background-color: $main-dark-color;
}

.suit__sub--pros {
  margin-bottom: 20px;
}

.suit__sub--cons {
  margin-bottom: 19px;
  @media (min-width: 768px) {
    margin-bottom: 36px;
  }
}

.suit__item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 16px;
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.6;
  color: $delimiter-accent-color;
  @media (min-width: 768px) {
    margin-bottom: 16px;
    line-height: 1.714;
  }

  @media (min-width: 1920px) {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
  }
}

.suit__item--pros {
  margin-bottom: 19px;
  letter-spacing: 0.027em;
}

.suit__item--pros:nth-child(2) {
  @media (min-width: 1920px) {
    margin-bottom: 28px;
  }
}

.suit__item--pros:nth-child(3) {
  @media (min-width: 1920px) {
    margin-bottom: 30px;
  }
}

.suit__item--pros:nth-child(4) {
  margin-bottom: 15px;
  @media (min-width: 768px) {
    margin-bottom: 17px;
  }
  @media (min-width: 1920px) {
    margin-bottom: 25px;
  }
}

.suit__item:before {
  @include pseudo-position;
  height: 20px;
  width: 20px;
  border: 3px solid $main-light-color;
  border-radius: 50%;
  box-shadow: $accent-box-shadow;
}

.suit__item--pros:before {
  background-color: $accent-color;
  left: 0;
  top: 0;
}

.suit__list .suit__item--pros:nth-child(5)::before {
  @media (min-width: 768px) {
    bottom: 25px;
  }
}

.suit__item--cons {
  line-height: 1.7;

  @media (min-width: 768px) {
    margin-bottom: 15px;
    line-height: 1.75;
    padding-left: 33px;
  }

  @media (min-width: 1920px) {
    margin-bottom: 28px;
  }
}

.suit__item--cons:nth-child(3) {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 18px;
  }
}

.suit__item--cons:nth-child(3) {
  @media (min-width: 1920px) {
    margin-bottom: 27px;
  }
}

.suit__item--cons:nth-child(4) {
  @media (min-width: 1920px) {
    padding-right: 0;
  }
}

.suit__item--cons:before {
  background-color: #ff1743;
  left: 0;
  top: 0;
  @media (min-width: 768px) {
    top: 2px;
    left: 0;
  }
}

.suit__statement {
  margin: 0;
  margin-bottom: 30px;
  @include font-mix($main-title-font, 14px, 900);
  @include text;
  text-indent: 2px;
  color: $main-light-color;
  text-align: center;
  letter-spacing: 0.025em;
  line-height: 1.45;
  @media (min-width: 768px) {
    display: inline-block;
    width: 347px;
    padding-left: 2px;
    padding-right: 10px;
    margin-bottom: 0;
    margin-right: 26px;
    vertical-align: middle;
    text-align: left;
    line-height: 1.765;
    color: $header-background-color;
  }

  @media (min-width: 1920px) {
    margin-right: 135px;
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 50px;
    width: 573px;
    font-size: 17px;
    line-height: 1.765;
  }
}

.suit__statement span {
  @media (min-width: 768px) {
    border-bottom: 2px solid $accent-color;
  }

  @media (min-width: 768px) {
    padding-left: 0;
  }
}

.suit__button {
  margin: 0 auto 65px;
  padding: 14px 31px;
  letter-spacing: 0.05em;
  color: $main-light-color;
  text-shadow: $button-text-shadow;
  text-transform: uppercase;
  line-height: 1.857;
  @include font-mix($main-title-font, 14px, 900);
  @extend%button-gradient;
  border: 1px solid transparent;
  border-radius: 5px;
  @media (min-width: 768px) {
    line-height: 1.8;
    margin-bottom: 59px;
    padding: 14px 39px;
  }
  @media (min-width: 1920px) {
    margin-bottom: 80px;
    padding: 18px 34px;
    font-size: 16px;
    line-height: 1.765;

  }
}
