@mixin center-flex($type: 'all') {
  display: flex;

  @if $type== 'all' {
    justify-content: center;
    align-items: center;
  } @else if $type== 'hor' {
    justify-content: center;
  } @else if $type== 'ver' {
    align-items: center;
  }
}

@mixin font-mix($family, $size, $weight) {
  font-family: $family,sans-serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin pseudo($display: block, $content: '') {
  display: $display;
  content: $content;
}

@mixin pseudo-position($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin text($uppercase: uppercase, $center: center){
  text-transform: $uppercase;
  text-align: $center;
}