// FONTS
$main-font: 'Open Sans', sans-serif;
$main-title-font: 'Museo Sans Cyrl', sans-serif;
$secondary-font: "Ubuntu Mono", sans-serif;
$tertiary-font: 'ProximaNova', sans-serif;

// COLORS
$main-light-color: #ffffff;
$main-dark-color: #242427;
$add-color:#d7d7d7;
$ref-color: #636363;
$accent-color: #00bcd4;
$add-accent-color: #ff1743;
$section-bg-dark: #2a2a2f;
$shadow-box-color: rgba(0, 0, 0, 0.161);
$quote-accent-color: #343437 ;
$delimiter-accent-color: #2c2c2f ;
$header-add-background-color: #232323 ;
$dark-text-color: #000000;
$section-bg-grey: #f3f3f3;
$add-text-dark-color: #121212;
$modal-background: rgba(36, 36, 39, 0.839);
$button-shadow: 0px 12px 20px 0px rgba(28, 28, 30, 0.21);
$button-text-shadow: 0px 1px 1px rgba(28, 28, 30, 0.32);
$header-background-color: #2b2a2f;
$add-text-color: #c7c7c7;
$challenge-bg-user-pic: #eeeeee;
$section-bg-dark: #2a2a2f;
$faq-box-color: #ededed ;
$shadow-box-color: rgba(0, 0, 0, 0.161);
$back-div-shadow: -14.326px 46.859px 58px 0px rgba(0, 0, 0, 0.15);
$decor-box-shadow: 0px 20px 36px 0px rgba(0, 0, 0, 0.3);
$section-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
$accent-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14);
$diagram-bg-color: #222225;
$day-bg-color: #cecece;
$numeral-bg-color: #fbfbfb;
