// FONTS

$main-font-stack: 'Montserrat', sans-serif;
$add-font1:'Kaushan Script', cursive;
$add-font2:'Roboto', sans-serif;

// COLORS

$font-color:#fff;
$border-color:#e5e5e5;
$add-color:#333333;
$add-color2:#999999;
$hover-color:#f4bd61;
$accent-color1:#f38181;
$accent-color2:#95e1d3;
