html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.header {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url('../img/banner.png');
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url('../img/banner.png');
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url('../img/banner.png');
  background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url('../img/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
  margin-bottom: 42px;
}

.menu {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto 122px;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.menu__list {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu__item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__link {
  display: block;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 6px;
  text-transform: uppercase;
}

.menu__link:after {
  background-color: #f4bd61;
  display: block;
  content: '';
  height: 2px;
  width: 0%;
  -webkit-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.menu__link:hover {
  color: #f4bd61;
}

.menu__link--underline:hover:after {
  width: 100%;
}

.menu__link--glass,
.menu__link--cart {
  fill: #fff;
}

.menu__link--glass:hover,
.menu__link--cart:hover {
  fill: #f4bd61;
}

/* HEADER SECTION */
.header-section {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.header-section__title {
  margin: 0 auto 32px;
  font-family: 'Kaushan Script', cursive;
  color: #fff;
  font-size: 72px;
}

.header-section__text {
  font-size: 150px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 140px;
  margin: 0 auto 116px;
  letter-spacing: -7px;
  text-indent: 10px;
}

.header-section__button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  padding: 10px 38px;
  cursor: pointer;
  margin: 0 auto;
}

/* SECTION SERVICE */
.service {
  margin-bottom: 82px;
}

.service__title {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin: 0 auto 16px;
}

.service__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.service__text:after {
  display: block;
  width: 60px;
  height: 2px;
  content: '';
  background-color: #f38181;
  margin-top: 38px;
  margin-left: 570px;
  margin-bottom: 66px;
}

.service__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.service__title {
  margin: 0;
  margin-bottom: 15px;
}

.service__text {
  margin: 0;
}

.service__item {
  width: 400px;
  padding: 0;
  padding-left: 90px;
  position: relative;
  margin: 0;
}

.service__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 98px;
}

.service__item::before {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 30px;
  content: '';
  margin-bottom: 5px;
}

.service__item--clock::before {
  background-image: url('../img/alarm.svg');
}

.service__item--line::before {
  background-image: url('../img/line.svg');
}

.service__item--computer::before {
  background-image: url('../img/computer.svg');
}

.service__item--book::before {
  background-image: url('../img/book.svg');
}

.service__item--home::before {
  background-image: url('../img/home.svg');
}

.service__item--digital::before {
  background-image: url('../img/box.svg');
}

.service__direction {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.service__description {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  margin: 0;
}

/* SECTION TEAM */
.team {
  margin-bottom: 78px;
}

.team__title {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin: 0 auto 16px;
}

.team__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.team__text:after {
  display: block;
  width: 60px;
  height: 2px;
  content: '';
  background-color: #f38181;
  margin-top: 38px;
  margin-left: 570px;
  margin-bottom: 42px;
}

.team__description {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  text-align: center;
  margin: 0;
  margin-bottom: 90px;
}

.team__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team__item {
  position: relative;
}

.team__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 7px;
}

.team__position {
  font-family: 'Roboto', sans-serif;
  font-weight: 300i;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.team__image {
  margin-bottom: 28px;
}

.overlay {
  width: 380px;
  height: 470px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  position: absolute;
  top: -10px;
  left: -10px;
  opacity: 0;
  -webkit-box-shadow: 10px 10px 0 rgb(149, 225, 211);
  box-shadow: 10px 10px 0 rgb(149, 225, 211);
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.team__item:hover .overlay,
.team__item:focus .overlay {
  opacity: 1;
}

.overlay__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.overlay__item {
  margin-right: 1px;
}

.overlay__item:last-child {
  margin-right: 0;
}

.overlay__item a {
  display: block;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  background-color: #fce38a;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.overlay__item a:hover,
.overlay__item a:focus {
  background-color: #f38181;
  cursor: pointer;
}

.overlay__item svg {
  display: inline-block;
  fill: #f38181;
  width: 30px;
  height: 30px;
  -webkit-transition: fill 0.2s linear;
  -o-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.overlay__item a:hover svg {
  fill: #fff;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

/* FOOTER */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 65px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #e5e5e5;
}

.footer__content {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.footer__text {
  color: #f38181;
}

.email {
  width: 230px;
  border: 1px solid #e5e5e5;
  line-height: 38px;
}

.subscribe {
  border: 1px solid transparent;
  background-color: #95e1d3;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  padding: 12px 32px;
}

input [type='email'] {
  font-family: 'Roboto', sans-serif;
  font-weight: 300i;
  color: #999999;
  font-size: 15px;
}

