html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 290px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 690px;
  }

  @media (min-width: 1920px) {
    max-width: 1148px;
  }
}
